target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
.vscode/
*.class
*.log
*.jar
*.war
*.ear

.env
credentials/
src/main/resources/google-credentials.json
*.pem

.DS_Store
Thumbs.db
